@import '../../constants/colors';

.Button{
    button{
        background-color: $black;
        border-color: $black;
        color: $white;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: bold;
        height: 40px;
        cursor: pointer;
        padding: 0 18px;

        &:hover{
            background-color: $white;
            color: $black;
        }
        &:disabled{
            pointer-events: none;
            opacity: 0.15;
        }
        &.icon{
            background-color: transparent;
            border-color: transparent;
            color: $addiBlue;
            font-size: 1.4em;
        }
    }
}