.Leads{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: calc(100vh - 125px);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 95%;
    
    .pageTitle{
        width: 100%;
        display: flex;
        padding: 0 50px;
    }
    .cardsWrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        min-height: 100%;

        ul{
            list-style: none;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            
            li{
                margin: 0 30px 10px 0;
                width: calc(30% - 20px);
            }
        }

    }
    .pageTitleWrapper{
        width: 100%;
    }
    .loaderWrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
    }
}