@import '../../constants/colors';

.Footer{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $addiBlue;
    color: $white;
    font-size: .8em;
    padding: 0 2%;
}